@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/scaffolding.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "blocks/button.scss";
@import "blocks/catalog-section.scss";
@import "blocks/contacts.scss";
@import "blocks/features.scss";
@import "blocks/form-block.scss";
@import "blocks/main-info.scss";
@import "blocks/main-nav.scss";
@import "blocks/making-video-card.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-form.scss";
@import "blocks/page-header.scss";
@import "blocks/product-card.scss";
@import "blocks/product-of-week.scss";
@import "blocks/reviews.scss";
@import "blocks/to-basket-modal.scss";
