@import "global/variables.scss";
@import "global/mixins.scss";
body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    color: $main-text-color;
    background-color: $main-bg-color;
    position: relative;
    margin: 0 auto;
    width: 320px;
    @media ($tablet-width) {
        width: 768px;
    }
    @media ($dekstop-width) {
        width: 1150px;
    }
}

.button {
    font-size: 18px;
    line-height: 16px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #444444;
    background-color: #ffffff;
    padding: 17px;
    width: 100%;
    color: $header-text-color;
    &:hover {
        background: #444444;
        color: #ffffff;
    }
    &:active {
        color: #797979;
    }
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;
}

::-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;
}

:-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;
}

:-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;
}
