@import "../global/variables.scss";
@import "../global/mixins.scss";
.catalog-section {
    @include mobile-container;
    display: flex;
    flex-direction: column;
}

.catalog-section__intro {
    @include bold;
    background-color: #f1f1f1;
    width: 320px;
    margin-left: -30px;
    margin-bottom: 20px;
    min-height: 177px;
    padding: 75px 36px;
    box-sizing: border-box;
}

.catalog-section__title {
    text-align: center;
    font-size: 27px;
    line-height: 30px;
    color: $header-text-color;
}

@media ($tablet-width) {
    .catalog-section {
        width: 768px;
        padding: 0 50px;
    }
    .catalog-section__intro {
        background-color: #f1f1f1;
        width: 768px;
        margin-left: -50px;
        margin-bottom: 20px;
        min-height: 177px;
        padding: 70px 36px;
        box-sizing: border-box;
    }
    .catalog-section__title {
        text-align: center;
        font-size: 43px;
        line-height: 50px;
    }
}

@media ($dekstop-width) {
    .catalog-section {
        width: 1150px;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .catalog-section__intro {
        background-color: #f1f1f1;
        width: 1150px;
        margin-bottom: 0;
        min-height: 350px;
        padding: 60px 36px;
    }
    .catalog-section__title {
        text-align: center;
        font-size: 53px;
        line-height: 57px;
    }
}
