@import "../global/variables.scss";
@import "../global/mixins.scss";
.contacts {
    @include mobile-container;
    margin-top: 87px;
}

.contacts__title {
    @include bold;
    font-size: 18px;
    line-height: 30px;
    margin-left: -2px;
    margin-bottom: 26px;
}

.contacts__info {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
}

.contacts__method {
    min-width: 77px;
    vertical-align: top;
    padding-bottom: 30px;
}

.contacts__value {
    padding-bottom: 30px;
}

.contacts__value a {
    color: $main-text-color;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;
    vertical-align: top;
    padding-bottom: 3px;
    &:hover {
        color: #46c1ae;
        border-color: #46c1ae;
    }
    &:active {
        color: #46c1ae;
        border-color: #46c1ae;
        opacity: 0.3;
    }
}

.contacts__value--mobile-thin {
    padding-right: 42px;
}

.contacts__map-nojs-point {
    content: "";
    position: absolute;
    background: url(../img/icon-map-pin.svg);
    width: 66px;
    height: 101px;
    top: 165px;
    left: 124px;
}

.contacts__map-wrapper {
    width: 320px;
    margin: 7px 0 37px -30px;
    position: relative;
    min-height: 457px;
}

.contacts__map-hide {
    display: none;
}

@media ($tablet-width) {
    .contacts {
        width: 768px;
        padding: 0 50px;
        margin: -40px auto 55px auto;
        position: relative;
    }
    .contacts__title {
        font-size: 43px;
        line-height: 50px;
        color: $header-text-color;
        display: block;
        margin-bottom: 48px;
        margin-left: -4px;
        margin-top: 182px;
    }
    .contacts__title::after {
        content: "";
        position: absolute;
        background: url("../img/icon-flag.svg");
        width: 47px;
        height: 82px;
        top: -15px;
        right: 53px;
        display: inline-block;
    }
    .contacts__info {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .contacts__info tr {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    .contacts__method {
        vertical-align: top;
        padding-bottom: 30px;
        display: inline-block;
    }
    .contacts__value {
        padding-bottom: 30px;
        display: inline-block;
        width: 240px;
        margin-left: -4px;
    }
    .contacts__value--mobile-thin {
        width: 200px;
    }
    .contacts__value a {
        color: $main-text-color;
        text-decoration: none;
        border-bottom: 1px solid #62d1ba;
        vertical-align: top;
    }
    .contacts__map-wrapper {
        width: 768px;
        margin: 26px 0 55px -50px;
    }
    .contacts__map-nojs-point {
        left: 348px;
    }
    .contacts__button {
        width: 230px;
        display: block;
        margin: 0 auto;
    }
}

@media ($dekstop-width) {
    .contacts {
        width: 1150px;
        margin: -35px auto 53px auto;
        padding-left: 225px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 457px;
    }
    .contacts__title {
        font-size: 53px;
        line-height: 57px;
        padding-top: 160px;
        width: 100%;
        margin-top: 43px;
        margin-bottom: 44px;
    }
    .contacts__title::after {
        position: absolute;
        left: 114px;
        top: 195px;
    }
    .contacts__info {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-top: 5px;
    }
    .contacts__info tr {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
    }
    .contacts__method {
        margin-right: 5px;
    }
    .contacts__map-wrapper {
        width: 525px;
        margin: -170px 0 50px 0;
    }
    .contacts__map-nojs-point {
        left: 237px;
    }
    .contacts__button {
        margin: -103px 0 0;
        height: 52px;
    }
}
