.features {
    width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Open Sans Bold", sans-serif;
    background-color: $main-bg-color;
}

.features__title {
    font-size: 25px;
    line-height: 30px;
}

.features__list {
    margin: 0;
    padding: 0;
}

.features__item {
    list-style: none;
    font-size: 17px;
    line-height: auto;
    min-height: 125px;
}

.features__item::before {
    background-image: url(../../img/icon-feature-1.svg);
    width: 32px;
    height: 38px;
    display: block;
    content: "";
    margin-bottom: 20px;
}
