.features {
    width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Open Sans Bold, sans-serif;
    background-color: $main-bg-color;
}

.features__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
    color: $header-text-color;
}

.features__list {
    margin: 0;
    padding: 0;
}

.features__item {
    list-style: none;
    font-size: 17px;
    line-height: auto;
    min-height: 125px;
}


/* Здесь иконки преимуществ сделаны псевдоэлементами, для стилизации будут вставлены в html

.features__item::before {
    display: block;
    content: "";
    margin-bottom: 20px;
}

.features__item--eco::before {
    background-image: url(../../img/icon-feature-1.svg);
    width: 32px;
    height: 38px;
}

.features__item--price::before {
    background-image: url(../../img/icon-feature-2.svg);
    width: 35px;
    height: 35px;
}

.features__item--likes::before {
    background-image: url(../../img/icon-feature-3.svg);
    width: 47px;
    height: 27px;
}

.features__item--handmade::before {
    background-image: url(../../img/icon-feature-4.svg);
    width: 54px;
    height: 24px;
}

.features__item--domestic::before {
    background-image: url(../../img/icon-feature-5.svg);
    width: 33px;
    height: 28px;
}

.features__item--packaging::before {
    background-image: url(../../img/icon-feature-6.svg);
    width: 33px;
    height: 32px;
}

*/
