@import "../global/variables.scss";
@import "../global/mixins.scss";
.features {
    width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 68px auto 31px;
    @include bold;
    background-color: $main-bg-color;
}

.features__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-left: -2px;
    color: $header-text-color;
}

.features__list {
    margin: 0;
    padding: 0;
}

.features__item {
    list-style: none;
    font-size: 17px;
    line-height: 20px;
    line-height: auto;
    min-height: 120px;
    width: 260px;
    padding: 57px 0 0 ;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 3px;
    &:first-child {
        padding-right: 70px;
    }
    &:nth-child(2) {
        padding-right: 40px;
    }
    &:nth-child(3) {
        padding-right: 80px;
    }
    &:nth-child(4) {
        padding-right: 50px;
    }
    &:nth-child(6) {
        padding-right: 50px;
    }
}


/* Здесь иконки преимуществ сделаны псевдоэлементами, для стилизации будут вставлены в html*/

.features__item::before {
    display: block;
    content: "";
    margin-bottom: 20px;
    position: absolute;
    top: 0;
}

.features__item--eco::before {
    background-image: url(../img/icon-feature-1.svg);
    width: 32px;
    height: 38px;
    left: 9px;
    top: 2px;
}

.features__item--price::before {
    background-image: url(../img/icon-feature-3.svg);
    width: 47px;
    height: 27px;
    top: 3px;
}

.features__item--likes::before {
    background-image: url(../img/icon-feature-5.svg);
    width: 33px;
    height: 28px;
    left: 7px;
    top: 7px;
}

.features__item--handmade::before {
    background-image: url(../img/icon-feature-2.svg);
    width: 35px;
    height: 35px;
    left: 3px;
    top: 5px;
}

.features__item--domestic::before {
    background-image: url(../img/icon-feature-4.svg);
    width: 55px;
    height: 24px;
    left: -5px;
    top: 6px;
}

.features__item--packaging::before {
    background-image: url(../img/icon-feature-6.svg);
    width: 33px;
    height: 32px;
    left: 3px;
    top: 3px;
}

@media ($tablet-width) {
    .features {
        width: 768px;
        padding: 20px 50px 0;
    }
    .features__title {
        font-size: 43px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .features__list {
        display: flex;
        flex-wrap: wrap;
    }
    .features__item {
        font-size: 20px;
        line-height: 24px;
        min-height: 160px;
        width: 50%;
    }
    .features__item--eco {
        order: 1;
    }
    .features__item--handmade {
        order: 2;
    }
    .features__item--price {
        order: 3;
    }
    .features__item--domestic {
        order: 4;
    }
    .features__item--likes {
        order: 5;
    }
    .features__item--packaging {
        order: 6;
    }
}


@media ($dekstop-width) {
    .features {
        width: 1150px;
        padding: 20px 225px 0;
    }
    .features__title {
        font-size: 53px;
        line-height: 57px;
        margin-bottom: 40px;
    }
    .features__item {
        padding-right: 90px;
        box-sizing: border-box;
    }
}

