@import "../global/variables.scss";
@import "../global/mixins.scss";

.main-nav__list, .main-nav__user-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    display: none;
}

.main-nav__item, .main-nav__user-item {
    list-style: none;
    border-bottom: 1px solid #ececec;
    text-align: center;
    padding: 28px 0;
    position: relative;
}

.main-nav__item a, .main-nav__user-item a {
    text-decoration: none;
    color: $header-text-color;
    @include bold;
    font-size: 17px;
    line-height: 24px;
}

.main-nav__search a::before {
    content: "";
    background-image: url("../../img/icon-search.svg");
    width: 18px;
    height: 18px;
    position: absolute;
    left: 25px;
    top: 31px;
    display: inline-block;

}

.main-nav__basket a::before {
    content: "";
    background-image: url("../../img/icon-cart.svg");
    width: 21px;
    height: 19px;
    position: absolute;
    left: 25px;
    top: 30px;
    display: inline-block;
}





@media ($tablet-width) {

    .main-nav__list, .main-nav__user-list {
        margin: 0;
        padding: 0;
    }

    .main-nav__list {
        order: 2;
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 10px;
        top: 77px;

    }

    .main-nav__user-list {
        order: 1;
        display: flex;
        flex-direction: row;
        min-width: 396px;
    }

    .main-nav__item, .main-nav__user-item {
        list-style: none;
        text-align: center;
        padding: 28px 0;
    }

    .main-nav__item {
        min-width: 167px;
        border: none;
        background: none;
        display: inline-block;
        padding-left: 15px;
    }

    .main-nav__user-item {
        border-bottom: 1px solid #ececec;
    }

    .main-nav__search {
        min-width: 84px;
        border-right: 1px solid #ececec;
        position: relative;
    }

    .main-nav__basket {
        min-width: 315px;
    }

    .main-nav__item a, .main-nav__user-item a {
        text-decoration: none;
        color: $header-text-color;
        @include bold;
        font-size: 17px;
        line-height: 24px;
    }

    .main-nav__item a {
        font-size: 15px;
        line-height: 24px;

    }

    .main-nav__search a {
        font-size: 0;
    }

    .main-nav__search a::before {
        content: "";
        background-image: url("../../img/icon-search.svg");
        width: 18px;
        height: 18px;
        position: absolute;
        left: 32px;
        top: 35px;
        display: inline-block;

    }

    .main-nav__basket a::before {
        content: "";
        background-image: url("../../img/icon-cart.svg");
        width: 21px;
        height: 19px;
        position: absolute;
        left: 25px;
        top: 30px;
        display: inline-block;
    }
}
