@import "../global/variables.scss";
@import "../global/mixins.scss";
.main-info {
    background: url("../img/hero-mobile@1x.jpg") no-repeat 50% -20px;
    min-height: 489px;
    width: 320px;
    margin: 0 auto;
}

.main-info__title {
    @include bold;
    font-size: 27px;
    line-height: 30px;
    color: $header-text-color;
    text-align: center;
    padding: 70px 30px 0;
    margin-bottom: 120px;
    margin-top: 0;
}

.main-info__products-list {
    margin: 0;
    padding: 0;
}

.main-info__products-links:after {
    display: none;
}

.main-info__products-link {
    list-style: none;
    min-height: 103px;
    padding: 0 30px;
    position: relative;
}

.main-info__interior-products-link:after {
    content: "";
    position: absolute;
    background: url("../img/icon-interior-green.svg");
    opacity: 0.75;
    width: 41px;
    height: 63px;
    right: 36px;
    top: 24px;
}

.main-info__products-link:hover {
    &:after {
        opacity: 1;
    }
}

.main-info__products-link:active {
    &:after {
        opacity: 0.3;
    }
}

.main-info__products-link:active a {
    opacity: 0.3;
}

.main-info__children-products-link:after {
    content: "";
    position: absolute;
    background: url(../img/icon-toy-green.svg);
    opacity: 0.75;
    width: 60px;
    height: 60px;
    right: 27px;
    top: 21px;
}

.main-info__products-link a {
    text-decoration: none;
    color: #ffffff;
    @include bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding: 27px 0;
    width: 130px;
    display: inline-block;
    margin-left: -2px;
}

.main-info__interior-products-link {
    background-color: #63d1bb;
}

.main-info__children-products-link {
    background-color: #56c3b2;
}

@media ($tablet-width) {
    .main-info {
        background-image: url("../img/hero-desktop@1x.jpg");
        background-position: top;
        min-height: 745px;
        width: 768px;
        margin: 0 auto;
    }
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
    }
    .main-info__title {
        font-size: 43px;
        line-height: 50px;
        padding: 155px 40px 255px;
        margin-bottom: 120px;
        margin-top: 0;
    }
    .main-info__products-list {
        margin: 0 50px;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .main-info__products-links {
        position: relative;
    }
    .main-info__products-links:after {
        display: block;
        content: "";
        position: absolute;
        bottom: -15px;
        background: url("../img/bg-zigzag-fill.svg") no-repeat;
        background-size: 768px 24px;
        width: 768px;
        height: 34px;
    }
    .main-info__products-link {
        list-style: none;
        min-height: 120px;
        padding: 0 30px;
        width: 50%;
        margin-top: -2px;
    }
    .main-info__products-link:hover {
        min-height: 108px;
        margin-top: -5px;
    }
    .main-info__products-link a {
        margin-left: 6px;
        font-size: 20px;
        line-height: 30px;
    }
    .main-info__interior-products-link:after {
        top: 30px;
        right: 37px;
    }
    .main-info__children-products-link:after {
        top: 31px;
        right: 34px;
    }
}

@media ($dekstop-width) {
    .main-info {
        width: 1150px;
        margin-bottom: 35px;
    }
    .main-info__title {
        font-size: 53px;
        line-height: 57px;
        margin-bottom: 106px;
    }
    .main-info__products-links:after {
        background-size: 1150px 34px;
        width: 1150px;
    }
}