@import "../global/variables.scss";
@import "../global/mixins.scss";
.making-video-card {
    min-width: 260px;
    text-align: left;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.making-video-card__title-wrapper {
    padding: 0px 0 7px 34px;
    position: relative;
}

.making-video-card__title {
    @include bold;
    font-size: 17px;
    line-height: 24px;
    margin: 23px 57px 15px;
    color: $header-text-color;
}

.making-video-card__title:after {
    content: "";
    position: absolute;
    background: url("../img/icon-video-green.svg");
    width: 32px;
    height: 32px;
    left: 35px;
    top: 28px;
}

.making-video-card__video-wrapper {
    position: relative;
}

.making-video-card__video-wrapper:after {
    content: "";
    position: absolute;
    background: url("../img/icon-play.svg");
    width: 101px;
    height: 77px;
    left: 80px;
    top: 40px;
}

.making-video-card__video {
    position: relative;
    display: block;
    z-index: -1;
}

.making-video-card__description {
    padding: 0 40px;
    font-size: 13px;
    line-height: 24px;
    margin: 22px 0 24px -5px;
}

.making-video-card__order-button {
    text-decoration: none;
    display: block;
    margin: 0 34px;
    width: auto;
    margin-bottom: 20px;
}

@media ($tablet-width) {
    .making-video-card {
        margin-top: 40px;
        margin-bottom: 23px;
    }
    .making-video-card__title-wrapper {
        order: 2;
    }
    .making-video-card__title {
        font-size: 20px;
    }
    .making-video-card__title:after {
        left: 42px;
        top: 28px;
    }
    .making-video-card__video-wrapper {
        order: 1;
        min-height: 455px;
    }
    .making-video-card__video-wrapper:after {
        left: 282px;
        top: 196px;
    }
    .making-video-card__title {
        margin: 34px 71px 15px;
    }
    .making-video-card__description {
        order: 3;
        font-size: 15px;
        line-height: 30px;
        margin: 11px 0 24px;
    }
    .making-video-card__order-button {
        margin: 10px 42px;
        order: 4;
        text-align: center;
        margin-bottom: 44px;
    }
}

@media ($dekstop-width) {
    .making-video-card {
        width: 1050px;
        text-align: left;
        border: 1px solid #ececec;
        margin-bottom: 66px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        box-sizing: border-box;
    }
    .making-video-card__title-wrapper {
        box-sizing: border-box;
        padding: 60px 78px 0;
        margin-top: 35px;
        width: 367px;
        order: 1;
    }
    .making-video-card__title {
        @include bold;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        color: $header-text-color;
    }
    .making-video-card__title:after {
        left: 79px;
        top: 6px;
    }
    .making-video-card__video-wrapper {
        z-index: 1;
        width: 681px;
        height: 455px;
        order: 4;
        align-self: flex-start;
        margin-top: -416px;
    }
    .making-video-card__video-wrapper:after {
        left: 299px;
        top: 190px;
    }
    .making-video-card__video {
        position: relative;
        display: block;
        z-index: -1;
    }
    .making-video-card__description {
        box-sizing: border-box;
        padding: 47px 8px 0 89px;
        width: 379px;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 46px;
        margin-top: -14px;
        order: 3;
    }
    .making-video-card__order-button {
        text-decoration: none;
        display: block;
        text-align: center;
        margin: -2px 59px 20px 0;
        width: 190px;
        order: 3;
        font-size: 17px;
        line-height: 16px;
    }
}
