@import "../global/variables.scss";
@import "../global/mixins.scss";

.making-video-card {
    min-width: 260px;
    text-align: left;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.making-video-card__title-wrapper {
    padding: 28px 0 28px 34px;
}

.making-video-card__title {
    @include bold;
    font-size: 17px;
    line-height: 24px;
    margin: 25px 28px 15px;
    color: $header-text-color;
}

.making-video-card__video-wrapper {
    background: url("../img/icon-play.svg") no-repeat 50% 50%;
    z-index: 1;
}

.making-video-card__video {
    position: relative;
    display: block;
    z-index: -1;
}

.making-video-card__description {
    padding: 0 28px 0 40px;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 30px;
}

.making-video-card__order-button {
    text-decoration: none;
    display: block;
    margin: 0 34px;
    width: auto;
    margin-bottom: 20px;
}



@media ($tablet-width) {

    .making-video-card {
        margin-top: 30px;
    }

    .making-video-card__title-wrapper {
        order: 2;
    }

    .making-video-card__title {
        font-size: 20px;
    }

    .making-video-card__video-wrapper {
        order: 1;
        min-height: 455px;
    }

    .making-video-card__description {
        order: 3;
    }

    .making-video-card__order-button {
        margin: 0 42px;
        order: 4;
    }
}
@import "../global/variables.scss";
@import "../global/mixins.scss";
.making-video-card {
    min-width: 260px;
    text-align: left;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.making-video-card__title-wrapper {
    padding: 28px 0 28px 34px;
}

.making-video-card__title {
    @include bold;
    font-size: 17px;
    line-height: 24px;
    margin: 25px 28px 15px;
    color: $header-text-color;
}

.making-video-card__video-wrapper {
    background: url("../img/icon-play.svg") no-repeat 50% 50%;
    z-index: 1;
}

.making-video-card__video {
    position: relative;
    display: block;
    z-index: -1;
}

.making-video-card__description {
    padding: 0 28px 0 40px;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 30px;
}

.making-video-card__order-button {
    text-decoration: none;
    display: block;
    margin: 0 34px;
    width: auto;
    margin-bottom: 20px;
}

@media ($tablet-width) {
    .making-video-card {
        margin-top: 30px;
    }
    .making-video-card__title-wrapper {
        order: 2;
    }
    .making-video-card__title {
        font-size: 20px;
    }
    .making-video-card__video-wrapper {
        order: 1;
        min-height: 455px;
    }
    .making-video-card__description {
        order: 3;
    }
    .making-video-card__order-button {
        margin: 0 42px;
        order: 4;
    }
}
