@import "../global/variables.scss";
@import "../global/mixins.scss";
.page-footer {
    @include mobile-container;
    background-color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

.page-footer__logo {
    display: none;
}

.page-footer__social {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    padding: 28px 22px;
    margin-left: -6px;
    margin-top: -3px;
}

.page-footer__social-btn {
    vertical-align: bottom;
    display: inline-block;
    font-size: 0;
}

.page-footer__social-btn svg {
    fill: #231F20;
    &:hover {
        fill: #46c1ae;
    }
    &:active {
        fill: #bde3dd;
    }
}

.page-footer__social-btn--inst {
    width: 22px;
    height: 22px;
}

.page-footer__social-btn--fb {
    width: 15px;
    height: 28px;
    margin: 0 37px;
}

.page-footer__social-btn--tw {
    width: 24px;
    height: 21px;
}

.page-footer__developer {
    display: block;
    @include bold;
    font-size: 19px;
    line-height: 18px;
    color: $header-text-color;
    padding: 22px 0 34px;
    margin-left: -4px;
}

.page-footer__developer-link {
    text-decoration: none;
    color: $header-text-color;
}

.page-footer__developer-link:hover svg {
    fill: #46c1ae;
}

.page-footer__developer-link:active {
    color: #a8a8a8;
}

.page-footer__developer-link:active svg {
    fill: #bde3dd;
}

.page-footer__academy-logo {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    width: 27px;
    height: 34px;
}

.page-footer__academy-logo svg {
    fill: #63d1bb;
}

@media ($tablet-width) {
    .page-footer {
        width: 768px;
        padding: 0 50px;
        flex-direction: row;
        align-items: center;
        min-height: 142px;
    }
    .page-footer__logo {
        display: inline-block;
        text-align: left;
        width: 28%;
        margin-top: 3px;
    }
    .page-footer__logo svg {
        &:hover {
            fill: #46c1ae;
        }
        &:active {
            fill: #bde3dd;
        }
    }
    .page-footer__social {
        width: 38%;
        border: none;
        margin-top: 2px;
    }
    .page-footer__developer {
        width: auto;
        border: none;
        margin-top: 22px;
        margin-left: 4px;
    }
}

@media ($dekstop-width) {
    .page-footer {
        width: 1150px;
        padding: 0;
    }
    .page-footer__logo {
        width: 337px;
        text-align: left;
        padding: 50px;
        box-sizing: border-box;
        margin-top: 0;
    }
    .page-footer__social {
        margin-right: 90px;
    }
    .page-footer__developer {
        width: auto;
        margin-left: 15px;
        margin-top: 18px;
        text-align: right;
    }
    .page-footer__social-btn--fb {
        margin: 0 35px;
    }
}