.page-form {
    @include mobile-container;
}

.page-form__intro {
    background-color: #f1f1f1;
    width: 320px;
    margin-left: -30px;
    min-height: 177px;
    padding: 75px 36px;
    box-sizing: border-box;
}

.page-form__title {
    font-family: Open Sans Bold, sans-serif;
    font-size: 27px;
    line-height: 30px;
    color: $header-text-color;
}

.page-form__description {
    font-size: 13px;
    line-height: 24px;
}

.page-form__require-message {
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
