@import "../global/variables.scss";
@import "../global/mixins.scss";
.page-header {
    width: 320px;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    z-index: 2;
}

.page-header__logo {
    padding: 22px 0;
    border-bottom: 1px solid #ececec;
    display: flex;
}

.page-header__logo-link {
    display: flex;
    width: 86px;
    height: 36px;
    display: inline-block;
    margin: 0 auto;
}

.page-header__menu-toggle {
    background-image: url(../img/icon-menu-close.svg);
    height: 21px;
    width: 21px;
    border: none;
    position: absolute;
    right: 30px;
    top: 28px;
    background-color: #ffffff;
}

.page-header__menu-toggle--closed {
    background-image: url(../img/icon-menu-open.svg);
    height: 14px;
    width: 20px;
    border: none;
    position: absolute;
    right: 30px;
    top: 32px;
    background-color: #ffffff;
}

.page-header__delivery-info {
    display: none;
}

@media ($tablet-width) {
    .page-header {
        width: 768px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-header__logo {
        padding: 22px 0 17px;
        display: flex;
        justify-content: flex-start;
        min-width: 370px;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
    }
    .page-header__logo-link {
        width: 113px;
        height: 47px;
        display: inline-block;
        margin-left: 50px;
    }
    .page-header__menu-toggle, .page-header__menu-toggle--closed {
        display: none;
    }
    .page-header__delivery-info {
        display: block;
        position: absolute;
        right: 50px;
        top: 90px;
    }
}

@media ($dekstop-width) {
    .page-header {
        width: 1150px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-header__logo {
        position: absolute;
        left: 441px;
        padding: 9px;
        border: none;
    }
    .page-header__logo-link {
        width: 149px;
        height: 73px;
    }
    .page-header__logo-link:hover span {
        display: none;
    }
    .page-header__logo-link:hover {
        background: url("../img/logo-desktop-hover.svg");
        width: 148px;
    }
    .page-header__logo-link:active {
        background: url("../img/logo-desktop-active.svg");
        width: 148px;
    }

    .page-header__menu-toggle {
        display: none;
    }
    .page-header__delivery-info {
        display: block;
        position: absolute;
        right: 50px;
        top: 90px;
    }
}
