.page-header {
    width: 320px;
    margin: 0 auto;
    position: relative;
}

.page-header__logo {
    padding: 22px 0;
    display: flex;
    border-bottom: 1px solid #ececec;
}

.page-header__logo-link {
    background-image: url(../../img/logo-mobile.svg);
    width: 86px;
    height: 36px;
    display: inline-block;
    margin: 0 auto;
}

.page-header__menu-toggle {
    background-image: url(../../img/icon-menu-open.svg);
    height: 14px;
    width: 20px;
    border: none;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #ffffff;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    display: none;
}

.main-nav__item {
    list-style: none;
    border-bottom: 1px solid #ececec;
    text-align: center;
    padding: 28px 0;
}

.main-nav__item a {
    text-decoration: none;
    color: $header-text-color;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 17px;
    line-height: 24px;
}
