@import "../global/variables.scss";
@import "../global/mixins.scss";

.page-form {
    @include mobile-container;
    display: flex;
    flex-direction: column;
}

.page-form__intro {
    background-color: #f1f1f1;
    width: 320px;
    margin-left: -30px;
    margin-bottom: 8px;
    min-height: 177px;
    padding: 50px 34px;
    box-sizing: border-box;
}

.page-form__title {
    @include bold;
    font-size: 27px;
    line-height: 30px;
    color: $header-text-color;
    margin-left: 4px;
    margin-top: 19px;
}

.page-form__description {
    font-size: 13px;
    line-height: 24px;
    margin-left: 3px;
    margin-bottom: 31px;
}

.page-form__require-message {
    display: inline-block;
    width: 270px;
    margin-left: -3px;
    font-size: 14px;
    line-height: 5.24px;
    text-align: center;
    margin-bottom: 28px;
}

.page-form__require-message-tablet {
    display: none;
}

.page-form__submit {
    margin-bottom: 15px;
}



@media ($tablet-width) {

    .page-form {
        width: 768px;
        padding: 0 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .page-form__intro {
        width: 768px;
        margin-left: -50px;
        margin-bottom: 50px;
        min-height: 177px;
        padding: 70px 36px;
    }

    .page-form__title {
        font-size: 43px;
        line-height: 50px;
        text-align: center;
    }

    .page-form__description {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .page-form__require-message {
        display: none;
    }

    .page-form__require-message-tablet {
        display: inline-block;
        font-size: 17px;
        text-align: right;
        width: 50%;
        order: 2;
        margin-left: 110px;

    }

    .page-form__submit-wrapper {
        display: flex;
        flex-direction: row;

    }
    .page-form__submit {
        display: inline-block;
        width: 230px;
    }
}


@media ($dekstop-width) {

    .page-form {
        width: 1150px;
    }

    .page-form__intro {
        width: 1150px;
        margin-left: -50px;
        min-height: 313px;
        padding: 60px 36px;
    }

    .page-form__title {
        font-size: 53px;
        line-height: 57px;
        text-align: center;
    }

    .page-form__description {
        margin: 10px 175px;
    }
    .page-form__submit-wrapper {
        display: flex;
        flex-direction: row;
        padding: 0 175px;

    }

}


