@import "../global/variables.scss";
@import "../global/mixins.scss";
.page-header {
    width: 320px;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
}

.page-header__logo {
    padding: 22px 0;
    border-bottom: 1px solid #ececec;
    display: flex;
}

.page-header__logo-link {
    background-image: url(../img/logo-mobile.svg);
    display: flex;
    width: 86px;
    height: 36px;
    display: inline-block;
    margin: 0 auto;
}

.page-header__menu-toggle {
    background-image: url(../img/icon-menu-open.svg);
    height: 14px;
    width: 20px;
    border: none;
    position: absolute;
    right: 30px;
    top: 32px;
    background-color: #ffffff;
}

.page-header__delivery-info {
    display: none;
}

@media ($tablet-width) {
    .page-header {
        width: 768px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-header__logo {
        padding: 22px 0;
        display: flex;
        justify-content: flex-start;
        min-width: 370px;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
    }
    .page-header__logo-link {
        background-image: url(../img/logo-mobile.svg);
        width: 86px;
        height: 36px;
        display: inline-block;
        margin-left: 60px;
    }
    .page-header__menu-toggle {
        display: none;
    }
    .page-header__delivery-info {
        display: block;
        position: absolute;
        right: 50px;
        top: 90px;
    }
}

@media ($dekstop-width) {
    .page-header {
        width: 1150px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-header__logo {
        display: none;
    }
    .page-header__logo-link {
        display: none;
    }
    .page-header__menu-toggle {
        display: none;
    }
    .page-header__delivery-info {
        display: block;
        position: absolute;
        right: 50px;
        top: 90px;
    }
}
