@import "../global/variables.scss";
@import "../global/mixins.scss";
.product-of-week {
    width: 100%;
    background: #ffffff;
    position: relative;
}
.product-of-week__wrapper {
    background: $main-bg-color;
    @include mobile-container;
    padding-top: 4px;
    margin-bottom: 50px;
    position: relative;
}

.product-of-week:after {
    content: "";
    position: absolute;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: 320px 7px;
    width: 100%;
    height: 23px;
    bottom: -55px;
    left: 0;
    right: 0;
}

.product-of-week__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-of-week__name {
    @include bold;
    font-size: 25px;
    line-height: 30px;
    color: $header-text-color;
}

.product-of-week__title {
    color: #63d1bb;
    text-transform: uppercase;
    @include bold;
    font-size: 17px;
    line-height: 16px;
    margin: -13px 0 9px 0;
}

.product-of-week__description {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
}

.product-of-week__properties {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
}

.product-of-week__properties-row {
    border-bottom: 1px solid #ececec;
}

.product-of-week__properties-parameter {
    padding: 10px 0;
}

.product-of-week__properties-value {
    padding-left: 15px;
}

.product-of-week__photo-wrapper {
    margin: 27px 0 18px;
}

.product-of-week__price {
    font-weight: bold;
    @include bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.product-of-week__button {
    width: 100%;
}

@media ($tablet-width) {
    .product-of-week__wrapper {
        width: 768px;
        padding: 10px 50px 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }
    .product-of-week:after {
        content: "";
        position: absolute;
        background: url("../img/bg-zigzag-line.svg") repeat-x;
        background-size: 768px 16px;
        width: 100%;
        height: 23px;
        bottom: -52px;
        left: 0;
        right: 0;
    }
    .product-of-week__header {
        flex-direction: row;
    }
    .product-of-week__name {
        font-size: 43px;
        line-height: 50px;
        min-width: 500px;
        display: inline-block;
        vertical-align: middle;
        margin: 35px 0 31px -3px;
    }
    .product-of-week__title {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        margin: 48px 0 0 58px;
    }
    .product-of-week__about {
        width: 50%;
    }
    .product-of-week__description {
        font-size: 17px;
        line-height: 30px;
        width: 85%;
        margin-bottom: 34px;
    }
    .product-of-week__properties {
        width: 100%;
    }
    .product-of-week__properties-parameter {
        width: 82px;
    }
    .product-of-week__photo-wrapper {
        margin-top: 26px;
        width: 334px;
        height: 405px;
    }
    .product-of-week__order-form {
        width: 50%;
        margin-top: -138px;
    }
    .product-of-week__price {
        font-size: 20px;
        line-height: 24px;
        margin-top: 7px;
        margin-left: 2px;
        margin-bottom: 34px;
        width: 290px;
    }
    .product-of-week__button {
        width: 290px;
    }
}

@media ($dekstop-width) {
    .product-of-week__wrapper {
        width: 1150px;
        margin-bottom: 95px;
        min-height: 636px;
    }
    .product-of-week:after {
        background-size: 1150px 23px;
        width: 100%;
        bottom: -74px;
    }
    .product-of-week__header {
        position: absolute;
        margin-top: 43px;
        margin-left: -5px;
    }
    .product-of-week__name {
        font-size: 53px;
        line-height: 57px;
        min-width: 500px;
        order: 2;
    }
    .product-of-week__title {
        margin: 50px 40px 0 38px;
        width: 100px;
        order: 1;
    }
    .product-of-week__about {
        width: 32%;
        margin: 166px 10px 0 175px;
    }
    .product-of-week__properties {
        margin-top: 46px;
    }
    .product-of-week__photo-wrapper {
        margin-left: 4px;
        margin-bottom: 20px;
        width: 524px;
        height: 636px;
    }
    .product-of-week__order-form {
        width: 292px;
        margin-left: 177px;
    }
}
