@import "../global/variables.scss";
@import "../global/mixins.scss";

.product-of-week {
    background: $main-bg-color;
    @include mobile-container;
    padding-top: 30px;
}

.product-of-week__name {
    @include bold;
    font-size: 25px;
    line-height: 30px;
    color: $header-text-color;
}

.product-of-week__title {
    color: #63d1bb;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
}

.product-of-week__description {
    font-size: 15px;
    line-height: 24px;
}

.product-of-week__properties {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
}

.product-of-week__properties-row {
    border-bottom: 1px solid #ececec;
}

.product-of-week__properties-parameter {
    padding: 12px 0;
}

.product-of-week__photo-wrapper {
    margin-top: 30px;
}

.product-of-week__price {
    font-weight: bold;
    @include bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

.product-of-week__button {
    width: 100%;
}





@media ($tablet-width) {

    .product-of-week {
        min-width: 768px;
        padding: 10px 50px 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }

    .product-of-week__name {
        font-size: 43px;
        line-height: 50px;
        min-width: 500px;
    }

    .product-of-week__title {
        display: block;
        text-align: center;
        margin: 50px 0 0 58px;
        width: 100px;
    }

    .product-of-week__about {
        width: 50%;
    }

    .product-of-week__description {
        font-size: 17px;
        line-height: 30px;
        width: 85%;
        margin-bottom: 30px;
    }

    .product-of-week__properties {
        width: 100%;
    }

    .product-of-week__photo-wrapper {
        margin-top: 30px;
        /*------------- Убрать позже -----------*/
        width: 334px;
        height: 405px;
        /*--------------------------------------*/
    }

    .product-of-week__order-form {
        width: 45%;
        margin-top: -138px;
    }

    .product-of-week__price {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .product-of-week__button {
        width: 97%;
    }
}
