@import "../global/variables.scss";
@import "../global/mixins.scss";
.product-of-week {
    background: $main-bg-color;
    @include mobile-container;
    padding-top: 4px;
    margin-bottom: 50px;
}

.product-of-week__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-of-week__name {
    @include bold;
    font-size: 25px;
    line-height: 30px;
    color: $header-text-color;
}

.product-of-week__title {
    color: #63d1bb;
    text-transform: uppercase;
    @include bold;
    font-size: 17px;
    line-height: 16px;
    margin: -13px 0 9px 0;
}

.product-of-week__description {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
}

.product-of-week__properties {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
}

.product-of-week__properties-row {
    border-bottom: 1px solid #ececec;
}

.product-of-week__properties-parameter {
    padding: 10px 0;
}

.product-of-week__properties-value {
    padding-left: 15px;
}

.product-of-week__photo-wrapper {
    margin: 27px 0 18px;
}

.product-of-week__price {
    font-weight: bold;
    @include bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.product-of-week__button {
    width: 100%;
}

@media ($tablet-width) {
    .product-of-week {
        width: 768px;
        padding: 10px 50px 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }

    .product-of-week__header {
        flex-direction: row;
    }

    .product-of-week__name {
        font-size: 43px;
        line-height: 50px;
        min-width: 500px;
        display: inline-block;
    }
    .product-of-week__title {
        text-align: center;
        display: inline-block;
        width: 100px;
        margin: 50px 0 0 30px;
    }
    .product-of-week__about {
        width: 50%;
    }
    .product-of-week__description {
        font-size: 17px;
        line-height: 30px;
        width: 85%;
        margin-bottom: 30px;
    }
    .product-of-week__properties {
        width: 100%;
    }
    .product-of-week__photo-wrapper {
        margin-top: 30px;
        /*------------- Убрать позже -----------*/
        width: 334px;
        height: 405px;
        /*--------------------------------------*/
    }
    .product-of-week__order-form {
        width: 50%;
        margin-top: -138px;
    }
    .product-of-week__price {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .product-of-week__button {
        width: 97%;
    }
}


@media ($dekstop-width) {
    .product-of-week {
        width: 1150px;
        margin-bottom: 95px;
        min-height: 636px;
    }

    .product-of-week__header {
        position: absolute;
        margin-top: 40px;
    }
    .product-of-week__name {
        font-size: 53px;
        line-height: 57px;
        min-width: 500px;
        order: 2;
    }
    .product-of-week__title {
        margin: 50px 40px 0 38px;
        width: 100px;
        order: 1;
    }
    .product-of-week__about {
        width: 32%;
        margin: 170px 10px 0 180px;
    }
    .product-of-week__photo-wrapper {
        /*------------- Убрать позже -----------*/
        width: 524px;
        height: 636px;
        /*--------------------------------------*/
    }
    .product-of-week__order-form {
        width: 292px;
        margin-left: 180px;
    }
}
