@import "../global/variables.scss";
@import "../global/mixins.scss";
.product-card {
    min-width: 260px;
    text-align: left;
    border: 1px solid #ececec;
    margin-bottom: 30px;
}

.product-card__title {
    @include bold;
    font-size: 17px;
    line-height: 24px;
    margin: 25px 28px 15px;
    color: $header-text-color;
}

.product-card__properties {
    font-size: 13px;
    margin: 0 28px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.product-card__price-wrapper {
    display: inline-block;
    margin-bottom: 20px;
}

.product-card__price {
    @include bold;
    font-size: 15px;
    line-height: 24px;
    margin: 0 28px;
}

.product-card__to-basket-btn {
    display: inline-block;
    margin: 0 28px 0 76px;
}

@media ($tablet-width) {
    .product-card {
        width: 100%;
        margin: 40px 0 0;
        display: flex;
        min-height: 334px;
    }
    .product-card__image-wrapper {
        width: 50%;
    }
    .product-card__title {
        font-size: 20px;
    }
    .product-card__properties {
        width: 100%;
        font-size: 15px;
        line-height: 30px;
        min-height: 180px;
        padding-bottom: 25px;
    }
    .product-card__price {
        font-size: 17px;
    }
    .product-card__to-basket-btn {
        margin: 0 28px 0 130px;
    }
}


@media ($dekstop-width) {
    .product-card {
        width: 30%;
        margin: 40px 49px 40px 0;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 659px;
        &:nth-child(3n+1) {
            margin-right: 0;
        }
    }
    .product-card__image-wrapper {
        width: 100%;
        /*Временный фон*/
        background: #444444;
        /*--------------*/
        min-height: 462px;
        margin-bottom: -5px;

    }
    .product-card__title {
        font-size: 20px;
    }
    .product-card__properties {
        width: 257px;
        font-size: 15px;
        line-height: 30px;
        min-height: 70px;
        padding-bottom: 0;
        margin: 0 33px 0 27px;
    }
    .product-card__price {
        font-size: 17px;
    }
    .product-card__to-basket-btn {
        margin-top: 10px;
        margin-right: 0;
    }
}
