@import "../global/variables.scss";
@import "../global/mixins.scss";
.product-card {
    min-width: 260px;
    text-align: left;
    border: 1px solid #ececec;
    margin-bottom: 29px;
}

.product-card__image-wrapper {
    margin-bottom: -3px;
}

.product-card__info-wrapper {
    position: relative;
}

.product-card__title {
    @include bold;
    font-size: 17px;
    line-height: 24px;
    margin: 25px 28px 7px;
    color: $header-text-color;
}

.product-card__properties {
    font-size: 13px;
    margin: 0 28px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 22px;
    margin-bottom: 10px;
}

.product-card__price-wrapper {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 11px;
}

.product-card__price {
    @include bold;
    font-size: 15px;
    line-height: 24px;
    margin: 0 28px 8px;
}

.product-card__to-basket-btn {
    display: inline-block;
    position: absolute;
    right: 28px;
    bottom: 25px;
}

@media ($tablet-width) {
    .product-card {
        width: 100%;
        margin: 41px 0 11px;
        display: flex;
        //!!!!!!!! ЧТО ДВИГАЕТ БЛОК ВНИЗ НА 3px ? ВЫЯСНИТЬ И УБРАТЬ max-height//
        max-height: 334px;
        //-----------------------------//
    }
    .product-card__image-wrapper {
        width: 50%;
    }
    .product-card__info-wrapper {
        width: 50%;
    }
    .product-card__title {
        font-size: 20px;
        padding-right: 70px;
        margin: 26px 0 4px 26px;
    }
    .product-card__big-title {
        & .product-card__properties {
            padding-bottom: 3px;
        }
    }
    .product-card__properties {
        width: 275px;
        font-size: 15px;
        line-height: 30px;
        min-height: 180px;
        margin-left: 25px;
        padding-bottom: 27px;
    }
    .product-card__price-wrapper {
        margin-bottom: -75px;
        padding: 0;
    }
    .product-card__price {
        font-size: 17px;
        margin-left: 30px;
        margin-bottom: 0;
    }
    .product-card__to-basket-btn {
        bottom: 27px;
        right: 33px;
    }
}

@media ($dekstop-width) {
    .product-card {
        width: 316px;
        margin: 40px 49px 16px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 659px;
        &:nth-child(3n+1) {
            margin-right: 0;
        }
    }
    .product-card__info-wrapper {
        width: 100%;
    }
    .product-card__title {
        padding-right: 0;
        margin-top: 28px;
    }
    .product-card__image-wrapper {
        width: 100%;
        height: 459px;
        margin-bottom: -1px;
    }
    .product-card__properties {
        display: inline-block;
        overflow: hidden;
        width: 260px;
        min-height: 0;
        padding-bottom: 38px;
        margin: 0 33px 0 27px;
    }
    .product-card__price {
        font-size: 17px;
        margin-top: 5px;
        margin-left: 25px;
    }
    .product-card__to-basket-btn {
        bottom: -1px;
        right: 31px;
    }
    .product-card__big-title {
        & .product-card__title {
            padding-right: 50px;
        }
        & .product-card__properties {
            padding-bottom: 15px;
        }
        & .product-card__price {
            margin-left: 29px;
        }
    }
}
